name: C/C++ CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  release:
    types: [published]

permissions:
  contents: write

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.5.*'
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install cmake ninja-build
    - name: Set build version
      run: |
        if [ "${{ github.event_name }}" = "release" ]; then
          echo "BUILD_VERSION=${GITHUB_REF##*/}" >> $GITHUB_ENV
        else
          echo "BUILD_VERSION=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
        fi
    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build . --config Release
    - name: Package binaries
      run: |
        cd build/dist
        tar -czf ../../discord-drawing-rpc_Linux_x64.tar.gz *
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        path: discord-drawing-rpc_Linux_x64.tar.gz
        name: linux_x64
    - name: Upload to release
      uses: AButler/upload-release-assets@v2.0
      if: ${{ success() && startsWith(github.ref, 'refs/tags') }}
      with:
        files: discord-drawing-rpc_Linux_x64.tar.gz
        repo-token: ${{ secrets.GITHUB_TOKEN }}

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.5.*'
    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release
        cmake --build . --config Release -j$(sysctl -n hw.ncpu)
    - name: Package binaries
      run: |
        cd build/dist
        tar -czf ../../discord-drawing-rpc_macOS_x64.tar.gz *
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        path: discord-drawing-rpc_macOS_x64.tar.gz
        name: macos_x64
    - name: Upload to release
      uses: AButler/upload-release-assets@v2.0
      if: ${{ success() && startsWith(github.ref, 'refs/tags') }}
      with:
        files: discord-drawing-rpc_macOS_x64.tar.gz
        repo-token: ${{ secrets.GITHUB_TOKEN }}
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - msys2-arch: x86_64
            mingw-arch: mingw64
            package-arch: x64
    defaults:
      run:
        shell: msys2 {0}
    steps:
    - uses: actions/checkout@v4
    - name: Install MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.mingw-arch }}
        update: true
    - name: Install build tools and Qt6
      run: pacman -S --noconfirm mingw-w64-${{ matrix.msys2-arch }}-{gcc,cmake,ninja,qt6-base,qt6-tools,qt-installer-framework}
    - name: Build
      run: |
        mkdir build
        cd build
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
        cmake --build . --config Release
    - name: Build installer
      run: |
        cd build
        cmake --build . --target installer
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        path: build/DiscordDrawingRPC-Setup.exe
        name: windows_${{ matrix.package-arch }}
    - name: Upload to release
      uses: AButler/upload-release-assets@v2.0
      if: ${{ success() && startsWith(github.ref, 'refs/tags') }}
      with:
        files: build/DiscordDrawingRPC-Setup.exe
        repo-token: ${{ secrets.GITHUB_TOKEN }}

